Source: com.github.panosx2.brightness
Section: x11
Priority: extra
Maintainer: Panos P. <panosp.dev@gmail.com>
Build-Depends: debhelper (>= 9),
               gettext,
               libgranite-dev,
               libgtk-3-dev,
               appindicator3-0.1,
               indicator-application,
               libappindicator3-1,
               libappindicator3-dev,
               meson,
               valac
               
Standards-Version: 4.1.1
Package: com.github.panosx2.brightness
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Brightness Adjustment
