Source: com.github.panosx2.brightness
Section: x11
Priority: extra
Maintainer: Panos P. <panosp.dev@gmail.com>
Build-Depends: debhelper (>= 9),
               gettext,
               libgranite-dev,
               libgtk-3-dev,
               dbus,
               libgtk2.0-bin,
               libltdl-dev,
               libappindicator3-dev,
               gir1.2-appindicator3-0.1,
               indicator-application,
               meson,
               valac,
               at-spi2-core,
               colord,
               contractor,
               curl,
               krb5-locales,
               libasprintf-dev, 
               libgettextpo-dev, 
               libmail-sendmail-perl,
               libtxc-dxtn-s2tc0,
               libx11-doc, 
               lynx-cur, 
               wget,
               wingpanel-indicator-ayatana,
               xdg-user-dirs,
               xml-core
               
Standards-Version: 4.1.1
Package: com.github.panosx2.brightness
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Brightness Adjustment
