[Desktop Entry]
Name=Brightness
GenericName=Brightness
Comment=
Categories=Utility;System;
Exec=com.github.panosx2.brightness
Icon=src/brightness.png
Terminal=false
Type=Application
Keywords=Brightness;Screen;Monitor;Change;Light;Eyes;
Name[en_US]=com.github.panosx2.brightness
