[Desktop Entry]
Name=Brightness
GenericName=Brightness
Comment=
Categories=Settings;
Exec=com.github.panosx2.brightness
Icon=com.github.panosx2.brightness
Terminal=false
Type=Application
Keywords=Brightness;Screen;Monitor;Change;Light;Eyes;
Name[en_US]=Brightness
